{
  "presets": ["next/babel"],
  "plugins": [
    //使用装饰器
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "lib",
        "style": true
      }
    ]
  ],
  "ignore": ["node_modules"]
}
